*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/*Dados do fornecedor*/
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 22pt;
    margin: 15px;
    font-weight:lighter
}

.titulo-sessao{
    display: flex;
    background-color: rgb(32, 130, 223);
    width: 99.1%;
    color: white;
    height: 40px;
    align-items: center;
    border-radius: 8px 8px 0px 0px; 
    padding: 0px 0px 0px 1%;
    font-size: 14pt;
}

.sessao{
    border: solid rgb(104, 104, 104) 1px;
    border-radius: 10px;
    width: 50%;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

/*Organização dos campos*/
.sessao label{
    padding: 5px 10px 5px 7px;
}

.sessao p{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sessao input{
    display: block;
    border-radius: 6px;
    height: 30px;
    border: solid rgb(173, 173, 173) 1px;
    padding: 0px 4px 0px 4px;
    font-size: 12pt;
}

textarea:focus, input:focus {
    box-shadow: 0px 0.5px 1px 0px rgb(0, 0, 0);
    outline: 0;
}

/*Tamanhos de cada campo*/
#razao-social, #nome-fantasia, #endereco{
    width: 600px;
}

#cnpj, #cep, #inscricao-municipal, #inscricao-estadual, #numero{
    width: 300px;
}

#complemento{
    width: 800px;
}

#bairro, #municipio, #estado{
    width: 280px;
}

#nome-pessoa{
    width: 350px;
}

#telefone{
    width: 150px;
}

#email{
    width: 300px;
}


/*Produtos*/

.produto{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px 10px 0px;
    width: 100%;
}

.conteudo-fieldset{
  display: flex;  
}

.info-fieldset{
    display: block;
}

#produto1{
    width: 500px;
}

.dados-produto{
    width: 150px;
}

#img-produto{
    width: 120px;
}

#img-lixeira{
    width: 50px;
}

#btn-limpar{
    border: none;
    background-color: transparent;
    margin: 0px 10px 0px 0px;
    cursor: pointer;
}

#adicionar-produto{
    background-color: green;
    color: white;
    border-radius: 3px;
    width: 90%;
    height: 40px;
    border: none;
    font-size: 14pt;
    margin: 0px 0px 20px 0px;
    cursor: pointer;
}

/*Anexos*/
.iten{
    display: flex;
    align-items: center;
    padding: 10px;
    
}

.apagar-baixar-doc{
    display: flex;
    justify-items: left;

}

.conteudo{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#salvar-fornecedor{
    background-color: green;
    color: white;
    border-radius: 3px;
    width: 45%;
    height: 40px;
    border: none;
    font-size: 14pt;
    margin: 0px 0px 20px 0px;

}

#salvar-fornecedor:hover{
    cursor: pointer;
}

#img-olho-1, #img-olho-2{
    width: 50px;
    padding: 0px 30px 0px 0px;
}

.visualizar-doc{
    border: none;
    background-color: transparent;
}

input[type='file']{
    display: none;
}

.geral-produto label { 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
    background-color: green;
    color: white;
    border-radius: 3px;
    width: 90%;
    height: 40px;
    border: none;
    font-size: 14pt;
    margin: 0px 0px 20px 0px;
  } 



